body, h2, h3, p, span{
    margin: 0;
    padding: 0;
    font-family: 'Karla', sans-serif;
}
body {
    background-color: #e6eff6;
}
.container {
    width: 635px;
    height: 474px;
}
.join {
    padding: 40px 40px;
    max-width: 635px;
    height: 210px;
    background-color: white;
}
.join h2{
    margin-bottom: 30px;
    color: #30b6b7;
}
.join > .day {
    margin-bottom: 18px;
    color: #bfdf32;
    font-weight: bold;   
}
.join p {
    color: #b6bbc1;
}